/* "Criando" as duas fontes que serão utilizadas */
@font-face {
    font-family: myFont;
    src: url("bariol_regular-webfont.ttf");
}
@font-face{
    font-family: myFont2;
    src: url("BahamasLight.ttf");
}

body {
    margin: 0;
    padding: 0;
    font-family: myFont;
    color: #f1f1f1;
}

/*Ajustando os textos utilizados*/
h2{
    margin-block-start: 0;
}

h2.text1 {
    font-family: myFont2;
    font-size: 48px;
}

p.text2 {
    font-size: 24px;
}

/* MENU SUPERIOR */
nav {
    position: fixed;
    width: 100%;
    background-color: rgba(1, 1, 5, .5);
    z-index: 1;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    display: block;
    float: right;
}

li a {
    display: inline-block;
    color: #fce577;
    text-align: center;
    padding: 20px 5px;
    margin-left: 2.196vw;
    margin-right: 10.981vw;
    font-size: 24px;
    text-decoration: none;
}

li a:hover {
    color: #f6a806;
}

/*Ajustando a logo no menu*/
img.menu {
    position: absolute;
    top: 10%;
    left: 9%;
    height: 60px;
}

/* TELA INICIAL */

/*Ajustando o espaço que o tópico será ocupado*/
div.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('img/bg2.png');
    background-size: cover;
}

/*Ajustando a logo*/

img.inicio {
    position: absolute;
    top: 25%;
    right: 10.981vw;
    width: 533px;
    height: 389px;
}

/*Ajustando o texto*/

div.textHome {
    position: absolute;
    top: 25%;
    left: 9%;
}

/* SOBRE */

/*Ajustando o espaço que o tópico será ocupado*/
div.about {
    padding: 40px;
    height: 100vh;
    background-image: url('img/bg1.png');
    background-size: cover;
}

/*Contâiner para deixar as fotos alinhadas e espaçadas*/
div.cont2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*Ajustando nossas fotos*/
img.daniel {
    width: 200px;
    height: 200px;
}

img.julia {
    width: 200px;
    height: 200px;
}

img.gilvan {
    width: 200px;
    height: 200px;
    filter: grayscale(100%);
}

img.gomes {
    width: 200px;
    height: 200px;
    filter: grayscale(100%);
}

/* PORTFÓLIO */

/*Ajustando o espaço que o tópico será ocupado*/
.trabalhos {
    padding: 40px;
    height: 100vh;
    background-image: url('img/bg1.png');
    background-size: cover;
}

/* "Banners" dos projetos */
img.projeto1 { /*Appteca*/
    width: 213px;
    height: 320px;
    margin-right: 60px;
    transition: .5s;
    cursor: pointer;
}
img.projeto2 { /*Promessa da Virgínia*/
    width: 213px;
    height: 320px;
    transition: .5s;
    cursor: pointer;
}

/* CONTATO */

/*Ajustando o espaço que o tópico será ocupado*/
.contato {
    padding: 40px;
    background-image: url('img/bg2.png');
    background-size: cover;
    height: 100vh;
}

/*Ajustando o formulário*/
form {
    background-color: aqua;
    margin: 0 auto;
    padding: 30px;
    background-color: transparent;
    width: 450px;
    border: 3px solid #fce577;
    border-radius: 30px;
    text-align: center;
    font-size: 22px;
    color: #fce577;
}

/*Ajustando os itens do formulário*/
div.form {
    width: 300px;
    margin: 0 auto;
    text-align: left;
}

/*Ajustando os inputs*/
input {
    width: 300px;
    height: 20px;
    border-radius: 5px;
}

/* Aumentar o tamanho do input de "Seu pedido" */
input.pedido {
    width: 300px;
    height: 60px;
}

/* Ajustando o botão de "Enviar" */
button.enviar {
    width: 90px;
    height: 30px;
    padding: 7.5px 10px 20px 10px;
    border: none;
    border-radius: 30px;
    background-color: #edcc45;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

button.enviar:hover {
    background-color: #f6a806;
}

/*Animação de aparição das tags*/
[data-anime] {
    opacity: 0;
    transition: 1s;
}

[data-anime="left"] {
    transform: translate3d(-40px, 0px, 0px);
}

[data-anime="right"] {
    transform: translate3d(40px, 0px, 0px);
}

[data-anime="baixo"] {
    transform: translate3d(0, 50px, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

/*POP UP*/

/*Ajustando as imagens dentro do pop up*/
img.popup{
    width: 180px;
    height: 320px;
    margin-right: 30px;
}

img.popup2{
    width: 320px;
    height: 213px;
    margin-top: 60px;
    margin-right: 30px;
}

/*Ocupando o espaço total da tela e deixando opaco*/
.modal-container{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    display: none;
    justify-content: center;
    align-items: center;
}

/*Quando ativar a função, aparecer o pop up*/
.modal-container.mostrar{
    display: flex;
}

/*Ajustando o pop up em si*/
.modal{
    background: #010105;
    width: 70%;
    min-width: 300px;
    padding: 30px;
    border: 5px solid #fce577;
    box-shadow: 0 0 0 10px rgba(1, 1, 5, 1);
    position: relative;
}

/*Animação*/
@keyframes modal {
    from{
        opacity: 0;
        transform: translate3d(0, -50px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar .modal{
    animation: modal 1s;
}

/*Configurando o botão de fechar*/
.fechar{
    position: absolute;
    font-size: 1.5em;
    top: -30px;
    right: -30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #f1f1f1;
    background: #f6a806;
    cursor: pointer;
    color: #f1f1f1;
    font-family: monospace;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3)
}

/*Ajustando os textos no pop up*/
.textModal{
    max-width: 77%;
    color: #f1f1f1;
    float: right;
}
.textModal2{
    max-width: 62%;
    color: #f1f1f1;
    float: right;
}
